In [138]:
import pandas as pd
df = pd.read_csv(r'Code_dataset.csv')
df.head()

                                         description    language
0  int main() { printf("Hello, World!"); return 0; }           C
1                             print('Hello, world!')      Python
2  public static void main(String[] args) { Syste...        Java
3                               puts 'Hello, World!'        Ruby
4                      console.log('Hello, World!');  JavaScript

In [139]:
df['language'].unique()

array(['C', 'Python', 'Java', 'Ruby', 'JavaScript', 'SQL', 'Shell', 'Go',
       'Scala', 'Swift', 'HTML', 'PowerShell', 'Lua', 'TypeScript',
       'CoffeeScript', 'Kotlin', 'Dart', 'Haskell', 'Pascal', 'Perl',
       'Batchfile', 'PHP', 'C#', 'Julia', 'Rust'], dtype=object)

In [140]:
df.isnull().sum()

description    0
language       0
dtype: int64

In [141]:
#total rows 
len(df)

118

In [142]:
import pandas as pd
import re
def clean_code(code):
    # Remove comments (lines starting with // or /* and ending with */)
    code = re.sub(r'//.*?$', '', code, flags=re.MULTILINE)
    code = re.sub(r'/\*.*?\*/', '', code, flags=re.MULTILINE | re.DOTALL)

    # Remove non-alphanumeric characters and extra whitespaces
    code = ' '.join(re.findall(r'\w+', code))

    return code

In [143]:
df['description'] = df['description'].apply(clean_code)

In [144]:
df.head()

                                         description    language
0               int main printf Hello World return 0           C
1                                  print Hello world      Python
2  public static void main String args System out...        Java
3                                   puts Hello World        Ruby
4                            console log Hello World  JavaScript

In [145]:
df['Title'] = df['language'] + ' Code'

In [146]:
df['Title'].unique()

array(['C Code', 'Python Code', 'Java Code', 'Ruby Code',
       'JavaScript Code', 'SQL Code', 'Shell Code', 'Go Code',
       'Scala Code', 'Swift Code', 'HTML Code', 'PowerShell Code',
       'Lua Code', 'TypeScript Code', 'CoffeeScript Code', 'Kotlin Code',
       'Dart Code', 'Haskell Code', 'Pascal Code', 'Perl Code',
       'Batchfile Code', 'PHP Code', 'C# Code', 'Julia Code', 'Rust Code'],
      dtype=object)

In [147]:
#Adding a date column
df['date'] = '2023-10-08'
df['date'] = pd.to_datetime(df['date'])
df['main_category'] = 'Code'

In [148]:
#Renaming language column to category
df.rename(columns={'language': 'category'}, inplace=True)

In [149]:
df.head()

,description,category,Title,date,main_category
0,int main printf Hello World return 0,C,C Code,2023-10-08,Code
1,print Hello world,Python,Python Code,2023-10-08,Code
2,public static void main String args System out...,Java,Java Code,2023-10-08,Code
3,puts Hello World,Ruby,Ruby Code,2023-10-08,Code
4,console log Hello World,JavaScript,JavaScript Code,2023-10-08,Code

In [150]:
df2 = pd.DataFrame()

In [158]:
#save to csv
df2.to_csv('Code_final_dataset.csv', index=False)