In [31]:
import pandas as pd
df = pd.read_csv(r'code.csv')
df.head()

ParserError: Error tokenizing data. C error: Expected 3 fields in line 29, saw 4

In [ ]:
df['description'].unique()

array([' World!")', ' World!"', ' World!");',
       ' World!</h1></body></html>', 'SQL', ' World!")\\n}',
       ' World!");\\n}', ' World!"; ?>', ' World!";\\n}',
       ' World!") # Python 2', ' World!</h1>'], dtype=object)

In [ ]:
df.isnull().sum()

description    0
category       6
dtype: int64

In [ ]:
#total rows 
len(df)

93

In [ ]:
import pandas as pd
import re
def clean_code(code):
    # Remove comments (lines starting with // or /* and ending with */)
    code = re.sub(r'//.*?$', '', code, flags=re.MULTILINE)
    code = re.sub(r'/\*.*?\*/', '', code, flags=re.MULTILINE | re.DOTALL)

    # Remove non-alphanumeric characters and extra whitespaces
    code = ' '.join(re.findall(r'\w+', code))

    return code

In [ ]:
df['description'] = df['description'].apply(clean_code)

In [ ]:
df.head()

,description,category
"print(""Hello","World!"")",Python
"puts ""Hello","World!""",Ruby
"print(""Hello","World!"");",Swift
<!DOCTYPE html><html><body><h1>Hello,World!</h1></body></html>,HTML
SELECT * FROM users WHERE username='john_doe';,SQL,NaN

In [ ]:
df['Title'] = df['category']

In [ ]:
df['Title'].unique()

array(['Python', 'Ruby', 'Swift', 'HTML', nan, 'Shell', 'JavaScript',
       'Bash', 'Kotlin', 'C', 'Perl', 'PHP', 'Rust', 'Java', 'Dart',
       'C++', 'Node.js', 'TypeScript', 'Haskell'], dtype=object)

In [ ]:
#Adding a date column
df['date'] = '2023-10-08'
df['date'] = pd.to_datetime(df['date'])
df['main_category'] = 'Code'

In [ ]:
#Renaming language column to category
df.rename(columns={'language': 'category'}, inplace=True)

In [ ]:
df.head()

,description,category,Title,date,main_category
"print(""Hello","World!"")",Python,Python,2023-10-08,Code
"puts ""Hello","World!""",Ruby,Ruby,2023-10-08,Code
"print(""Hello","World!"");",Swift,Swift,2023-10-08,Code
<!DOCTYPE html><html><body><h1>Hello,World!</h1></body></html>,HTML,HTML,2023-10-08,Code
SELECT * FROM users WHERE username='john_doe';,SQL,NaN,NaN,2023-10-08,Code

In [ ]:
#save to csv
df.to_csv('Code_final_dataset.csv', index=False)