In [3]:
import pandas as pd

news = pd.read_csv(r'News_final_dataset.csv')
news.head()

,headline,category,date,short_description_clean,main_category
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,2022-09-23,health expert said early predict whether deman...,News
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...,News
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,2022-09-23,dog understand could eaten,News
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...,News
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...,News

In [4]:
research = pd.read_csv(r'Research_paper_final_dataset.csv')
research.head()

,categories,update_date,title_clean,abstract_clean,main_category
0,hep-ph,2008-11-26,calculation prompt diphoton production cross s...,fully differential calculation perturbative qu...,Research Paper
1,math.CO cs.CG,2008-12-13,graph decomposition,describe new algorithm k game color use obtain...,Research Paper
2,physics.gen-ph,2008-01-13,evolution system based dark matter field fluid...,evolution system described dark matter field f...,Research Paper
3,math.CO,2007-05-23,determinant stirling cycle number count unlabe...,show determinant stirling cycle number count u...,Research Paper
4,math.CA math.FA,2013-10-15,dyadic,paper show compute norm using dyadic grid resu...,Research Paper

In [5]:
# change headline column name to Title
news.rename(columns={'headline': 'Title'}, inplace=True)
news.rename(columns={'short_description_clean': 'description'}, inplace=True)


#change title_clean column name to Title and make ir the first column
research.rename(columns={'title_clean': 'Title'}, inplace=True)
research.rename(columns={'categories': 'category'}, inplace=True)
research.rename(columns={'update_date': 'date'}, inplace=True)
research.rename(columns={'abstract_clean': 'description'}, inplace=True)

In [6]:
news.head()

,Title,category,date,description,main_category
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,2022-09-23,health expert said early predict whether deman...,News
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...,News
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,2022-09-23,dog understand could eaten,News
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...,News
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...,News

In [7]:
#ordering column news dataset
news_desired_order = ['Title', 'main_category', 'category', 'date','description']
news = news.reindex(columns=news_desired_order)
news.to_csv('news_ordered.csv', index=False)

In [8]:
news_new  = pd.read_csv(r'news_ordered.csv')
news_new.head()

,Title,main_category,category,date,description
0,Over 4 Million Americans Roll Up Sleeves For O...,News,U.S. NEWS,2022-09-23,health expert said early predict whether deman...
1,"American Airlines Flyer Charged, Banned For Li...",News,U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...
2,23 Of The Funniest Tweets About Cats And Dogs ...,News,COMEDY,2022-09-23,dog understand could eaten
3,The Funniest Tweets From Parents This Week (Se...,News,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...
4,Woman Who Called Cops On Black Bird-Watcher Lo...,News,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...

In [9]:
#ordering column research paper dataset
import pandas as pd
research_desired_order = ['Title', 'main_category', 'category', 'date','description']
# Reindex the DataFrame with the desired column order
research = research.reindex(columns=research_desired_order)
# Save the updated dataset
research.to_csv('research_ordered.csv', index=False)

In [10]:
research_new  = pd.read_csv(r'research_ordered.csv')
research_new.head()

,Title,main_category,category,date,description
0,calculation prompt diphoton production cross s...,Research Paper,hep-ph,2008-11-26,fully differential calculation perturbative qu...
1,graph decomposition,Research Paper,math.CO cs.CG,2008-12-13,describe new algorithm k game color use obtain...
2,evolution system based dark matter field fluid...,Research Paper,physics.gen-ph,2008-01-13,evolution system described dark matter field f...
3,determinant stirling cycle number count unlabe...,Research Paper,math.CO,2007-05-23,show determinant stirling cycle number count u...
4,dyadic,Research Paper,math.CA math.FA,2013-10-15,paper show compute norm using dyadic grid resu...

In [24]:
import pandas as pd

codes = pd.read_csv(r'Code_final_dataset.csv')
codes.head()

,description,category,Title,date,main_category
0,include config h include math h include string...,C,C Code,2023-10-08,Code
1,ifdef HAVE_CONFIG_H include config h endif inc...,C,C Code,2023-10-08,Code
2,ifdef HAVE_CONFIG_H include config h endif inc...,C,C Code,2023-10-08,Code
3,include tools h define ROL_UNUSED include md5 ...,C,C Code,2023-10-08,Code
4,include typedefs h include osl h include bcmut...,C,C Code,2023-10-08,Code

In [25]:
#ordering column codes dataset
codes_desired_order = ['Title', 'main_category', 'category', 'date','description']
# Reindex the DataFrame with the desired column order
codes = codes.reindex(columns=codes_desired_order)
# Save the updated dataset
codes.to_csv('codes_ordered.csv', index=False)

In [26]:
codes_new = pd.read_csv(r'codes_ordered.csv')
codes_new.head()

,Title,main_category,category,date,description
0,C Code,Code,C,2023-10-08,include config h include math h include string...
1,C Code,Code,C,2023-10-08,ifdef HAVE_CONFIG_H include config h endif inc...
2,C Code,Code,C,2023-10-08,ifdef HAVE_CONFIG_H include config h endif inc...
3,C Code,Code,C,2023-10-08,include tools h define ROL_UNUSED include md5 ...
4,C Code,Code,C,2023-10-08,include typedefs h include osl h include bcmut...

In [27]:
#combine the 2 datastets
combined = pd.concat([news_new, research_new,codes_new], ignore_index=True)
combined.head()

,Title,main_category,category,date,description
0,Over 4 Million Americans Roll Up Sleeves For O...,News,U.S. NEWS,2022-09-23,health expert said early predict whether deman...
1,"American Airlines Flyer Charged, Banned For Li...",News,U.S. NEWS,2022-09-23,subdued passenger crew fled back aircraft conf...
2,23 Of The Funniest Tweets About Cats And Dogs ...,News,COMEDY,2022-09-23,dog understand could eaten
3,The Funniest Tweets From Parents This Week (Se...,News,PARENTING,2022-09-23,accidentally put toothpaste toothbrush screame...
4,Woman Who Called Cops On Black Bird-Watcher Lo...,News,U.S. NEWS,2022-09-22,amy cooper accused investment firm franklin te...

In [28]:
#number of columns and rows
combined.shape

(131825, 5)

In [29]:
#unique values of main_category
combined.main_category.unique()

array(['News', 'Research Paper', 'Code'], dtype=object)

In [30]:
#save the combined dataset
combined.to_csv('combined_final_dataset.csv', index=False)